* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f8fc;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar / Menu */
nav {
  height: 80px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0 100px;
}

.menu {
  display: flex;
  justify-content: end;
  line-height: 80px;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  font-size: 14px;
}

.menu li a:hover {
  color: rgb(85, 85, 85);
}

/* Content */
.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  max-width: 100%;
  margin: 50px 100px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile-img {
  border-radius: 50%;
  margin-right: 20px;
}

.content-profile {
  margin-right: 100px;
}

.content-profile .btn-contact {
  background-color: blue;
  padding: 15px 30px;
  border: 1px solid blue;
  border-radius: 3px;
  color: white;
  margin-top: 15px;
  margin-right: 10px;
}

.content-profile .btn-resume {
  background-color: white;
  padding: 15px 30px;
  border: 1px solid red;
  border-radius: 3px;
  color: red;
}

.content-detail {
  border-left: 1px solid rgba(100, 100, 111, 0.2);
  padding-left: 10px;
}

.content-detail td {
  padding-right: 50px;
}

/* Form */
.form {
  background-color: white;
  max-width: 100%;
  margin: 50px 100px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

label {
  display: block;
}

input {
  width: 99.6%;
  height: 25px;
  margin-bottom: 10px;
}

.btn-submit {
  width: 100%;
  padding: 10px 0;
  background-color: green;
  border: none;
  color: white;
}
